<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.crop.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.qst.crop.entity.User">
        <id column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="identity_num" jdbcType="VARCHAR" property="identityNum" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="role" jdbcType="VARCHAR" property="role" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="integral" jdbcType="INTEGER" property="integral" />
        <result column="credit" jdbcType="INTEGER" property="credit" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    </resultMap>
    <sql id="Base_Column_List">
        user_name,real_name, password, nick_name, phone, identity_num, address, role, create_time,
        update_time, integral, credit, avatar
    </sql>
    <insert id="insertSelective" parameterType="com.qst.crop.entity.User">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                user_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="identityNum != null">
                identity_num,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="integral != null">
                integral,
            </if>
            <if test="credit != null">
                credit,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="identityNum != null">
                #{identityNum,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                #{role,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="integral != null">
                #{integral,jdbcType=INTEGER},
            </if>
            <if test="credit != null">
                #{credit,jdbcType=INTEGER},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="selectByExample" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_knowledge
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_user
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.qst.crop.entity.User">
        update tb_user
        <set>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="identityNum != null">
                identity_num = #{identityNum,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role = #{role,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="integral != null">
                integral = #{integral,jdbcType=INTEGER},
            </if>
            <if test="credit != null">
                credit = #{credit,jdbcType=INTEGER},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
        </set>
        where user_name = #{userName,jdbcType=VARCHAR}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.qst.crop.entity.User">
        select
        <include refid="Base_Column_List" />
        from tb_user
        where user_name = #{userName,jdbcType=VARCHAR}
    </select>
    <select id="selectAddressByName" resultType="java.lang.String">
        select address from tb_user where user_name=#{ownName}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from tb_user
        where user_name = #{userName,jdbcType=VARCHAR}
    </delete>
</mapper>